In [ ]:
understanding the variables in python

In [2]:
X=5
y=3
X+y

8

In [ ]:
variables are objects, which ever the value assigned to it

In [ ]:
rule:1- no name space while declaring the variable name

In [3]:
first name='faiyas'
print (first name)

SyntaxError: invalid syntax (<ipython-input-3-d499acbd8476>, line 1)

In [5]:
first_name='faiyas'
print (first_name)

faiyas

In [ ]:
rule :2- variable name should not start with number

In [6]:
1name='akshara'
print(1name)

SyntaxError: invalid syntax (<ipython-input-6-9ae63bae3620>, line 1)

In [7]:
name1='akshara'
print(name1)

akshara

In [ ]:
rule :3- A variable name should not contain any special characters

In [8]:
name#='faiyas'
print(name#)

SyntaxError: unexpected EOF while parsing (<ipython-input-8-1c080d587e03>, line 2)

In [10]:
name ='faiyas'
print(name)

faiyas

In [ ]:
classification of data types

1. mutable data types- we can able to change/modify once date has been assigned
2.immutable data types- we cannot able to modify/change once data has been assigned

In [ ]:
Introduction of data types in python

1.string       ---------->str
2.Integers     ---------->int
3.list         ---------->list
4.Tuple        ---------->tuple
5.Dictionaries ---------->dict

In [ ]:
Introduction to string data types

def: A string, nothing but a series of charecters, declared in between the quotes
    
classification : A string is classified as an immutable data types

In [ ]:
There are three possible ways to declare a string

1.single quotes
2.double quotes
3.triple quotes

In [12]:


name1='akshara'        #single quotes
print (name1)

akshara

In [13]:
name2= "akash"        #double quotes
print (name2)

akash

In [14]:
name3='"nidhi"'       #triple quotes
print (name3)

"nidhi"

In [ ]:
How to verify and validate data types ????????????????

In [ ]:
Building methods of data types

In [15]:
type(name1)

str

In [16]:
type(name2)

str

In [17]:
type(name3)

str

In [18]:
full_name= 'suteja koli'
print (full_name)

suteja koli

In [ ]:
# first letter of name in capital

In [22]:
full_name= 'suteja koli'
print (full_name.title())

Suteja Koli

In [ ]:
# name in full capital letters

In [23]:
full_name='suteja koli'
print (full_name.upper())

SUTEJA KOLI

In [ ]:
#name in full smallcase letter

In [24]:
full_name='SUTEJA KOLI'
print (full_name.lower())

suteja koli